<%= form_for(@disctracker) do |f| %>
  <% if @disctracker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disctracker.errors.count, "error") %> prohibited this disctracker from being saved:</h2>

      <ul>
      <% @disctracker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
