<h1>My Tracker</h1>
<button type ="button">Add Disc</button>
</br></br>
<table border ="1" width = "100%">
  <tr>
    <th>Edit</th>
    <th>Type</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Color</th>
    <th>Plastic</th>
    <th>Stability</th>
    <th>Weight</th>
  </tr>
  <tr>
    <td> <input type = "checkbox" id = "<% disc_id %>"> </td>
    <td>< pull data from db tbl disc_type ></td>
    <td>< pull data from db tbl disc_name ></td>
    <td>< pull data from db tbl disc_brand ></td>
    <td>< pull data from db tbl disc_colo r></td>
    <td>< pull data from db tbl disc_plastic ></td>
    <td>< pull data from db tbl disc_stability ></td>
    <td>< pull data from db tbl disc_weight ></td>
  </tr>
</table>
</br>
<button type ="button">Add Disc</button>
