<h1>My Tracker</h1>

<form action="" autocomplete="off">
  <fieldset id ="log">
    <legend><h2>Login</h2></legend>
    <ul>
      <li>
        <label for="playerid">PlayerID:</label>
        <input id="pid" name="pid" pattern="[a-zA-Z0-9]{5,}" title="Minimum 5 letters or numbers." required>
      </li>
      <li>
        <label for="password">Password:</label>
        <input id="password" name="password" type="password" pattern=".{5,}" title="Minmimum 5 letters or numbers." required>
      </li>
    </ul>
  </fieldset>
  <input type="submit" class="btn" value="Login">

</form>


<form action="" autocomplete="off">
  <fieldset id ="reg">
    <legend><h2>Register</h2></legend>
    <ul>
      <li>
        <label for="playerid">PlayerID:</label>
        <input id="pid" name="pid" pattern="[a-zA-Z0-9]{5,}" title="Minmimum 5 letters or numbers." required>
      </li>
      <li>
        <label for="password2">Password:</label>
        <input id="password2" name="password" type="password" pattern=".{5,}" title="Minmimum 5 letters or numbers." required>
      </li>
      <li>
        <label for="email">Email:</label>
        <input id="email" name="email" type="email" required>
      </li>
    </ul>
  </fieldset>
  <input type="submit" class="btn" value="Register">

</form>
