<h3>Course Components</h3>

<p>While the roots of the game are very casual and laid back the newer generations of players are taking course design as well as the other elements of the game to a new level. Though early on targets were trees or fence posts in the woods, now courses are being cut out and under utilized parts of parks, schools, and private land are being used to make some of the most challenging and strategic courses around. All courses share the same basic elements; targets, tee pads, signage, topography, and most importantly safety.</p>

<dl>
  <dt>Targets</dt>
  <dd>The first incarnation of targets were known as tonal poles because of the sound they made when hit. These consisted of a metal pipe placed on a smaller pipe that when struck with the disc made a gong type sound, while these were much more accurate than a tree, arguments and disagreements led to the invention of the Disc Pole Hole by Ed Headrick in 1975. The basket as it is now known in most circles is the standard for disc golf courses.</dd>
  <dt>Tee pads</dt>
  <dd>The tee pad is where a player begins the hole. A solid base is a must for any successful course, and where early courses had plain dirt pads, modern courses use concrete, or more cost effective materials such as mulch, decomposed granite, or other natural materials. In recent years recycled rubber mats have been developed and are starting to catch on. While many alternatives have been created, concrete is the standard.</dd>
  <dt>Signage</dt>
  <dd>Signage is critical to any good course. Knowing distances, par count, out-of-bounds, and layout for each hole will give a player the information they need to make a great shot. Many courses have a main layout sign at the beginning of the course to show details of the course as a whole, as well as any needed information about the course. Hole signs give specific details about the hole the player is on, such as mandatory paths, out-of-bounds, and length. Not only are hole information signs critical, but way-finding signs and informational signs can make a good course great, and the absence of these can make a good course bad</dd>
  <dt>Topography</dt>
  <dd>What makes disc golf unique is the utilization of natural elements, using trees and shrubs as obstacles and elevation changes to make the course challenging. Keeping the raw and environmentally conscience elements gives each course its own personality and strategy.</dd>
  <dt>Safety</dt>
  <dd>Safety is one of the most important elements of course design and actual play because most courses are in public parks: non-players are routinely found in the course environment. Paramount to the planning of a quality course is the detailing and minimizing possible points of interaction with non-players.

    Because of all of these elements and the importance of each one to the success of the course, seeking out a qualified, experienced course designer will help to insure that all of these factors are kept at the forefront.</dd>
</dl>
