<h2>Closing Credits</h2>

<p>I want to say thank you to DaVinci Institute for providing me with the opportunity
  to expand my knowledge and for going out of their way to may this the best learning
  experiance I have had.</p>

<p>Also I want to say Tata for now and thank you to the following people for all the
  collaberation and help and taking time out of their day do share their knowledge:</p>

<ul>
  <li><div class="thank">Peter Jones</div><div class="you">=> For taking the time to teach great class and ofer his help</div></li>
  <li><div class="thank">Mentors</div><div class="you">=> For volenteering their time to share their knowledge and help us learn</div></li>
  <li><div class="thank">Nick Howerd</div><div class="you">=> My mentor even though with time constrains on my end was still there to help even via email</div></li>
  <li><div class="thank">The Class</div><div class="you">=> For building a network and engouraging each other to push on and not quit</div></li>
  <li><div class="thank">Walt</div><div class="you">=> For helping me with the background and logo image of my site and offering design advice</div></li>
  <li><div class="thank">Other</div><div class="you">=> For sharing their knowledge either in the class at a meet up or a pressentation at DaVinci</div></li>
</ul>

<h4>You can follow me at:</h4>
<ul>
  <li>Github =><a href="https://github.com/vrwebworx/DiscTracker.githttps://github.com/vrwebworx/DiscTracker.git" target="_blank">GitHub: Disc Tracker</a></li>
  <li>Heroku =><a href="http://http://young-coast-9713.herokuapp.com/" target="_blank">Heroku</a></li>
  <li>LinkedIn =><a href="" target="_blank">LinkedIn</a></li>
  <li>Twitter =><a href="http://twitter.com/VRWebworx" target="_blank">Twitter</a></li>
  <li>Email =><a href="mailto:heatherbwelsh@gmail.com">Email</a></li>
</ul>
