
<h3>Disc Style</h3>

<p>The golf discs used today are much smaller and heavier than traditional
  flying discs, typically about 8 or 9 inches (20 or 23 cm) in diameter and
  weighing between 129 and 180 grams. The PDGA prohibits any disc to be heavier
  than 200 grams. Discs used for disc golf are designed and shaped for control,
  speed, and accuracy while general-purpose flying discs, such as those used for
  playing guts or ultimate, have a more traditional shape, similar to a catch
  disc. There is a wide variety of discs used in disc golf and they are
  generally divided into three categories: putters, all-purpose mid-range discs,
  and drivers.</p>

<dl>
  <dt>Putter</dt>
  <dd>Putters are similar to the discs used in simple games of catch, such as
    the Wham-o brand Frisbee. They are designed to fly straight, predictably,
    and very slowly compared to mid-range discs and drivers. They are typically
    used for tight, controlled shots that are close to the basket, although
    some players use them for short drives where trees or other obstacles come
    into play. Usually a pro carries 1-7 putters depending on their flight
    characteristics.</dd>
  <dt>Mid-Range</dt>
  <dd>Mid-range discs have slightly sharper edges that enable them to cut
    through the air better. These discs are usually faster, more stable,
    and have a longer range than a putter. Some players will use mid-ranges
    as drivers, and there are tournaments that require players to use only
    mid-range discs. They are good all-around discs and are suitable for a
    first time player.</dd>
  <dt>Driver</dt>
  <dd>Drivers are usually recognized by their sharp, bevelled edge and have
    most of their mass concentrated on the outer rim of the disc rather than
    distributed equally throughout. Drivers are often divided into different
    categories. For example, Innova Discs divides their discs into Distance
    Drivers and Fairway Drivers, with a fairway driver being somewhere between
    a distance driver and a mid-range disc. Discraft divides their drivers into
    3 categories: Long Drivers, Extra Long Drivers, and Maximum Distance
    Drivers. Because the physics of a disc require "snap" or "flick", which
    means putting spin on the disc, new players generally find that throwing a
    distance driver accurately can be somewhat difficult and will require
    experience with disc golf disc response. This is why it is better for
    players to begin with fairway drivers, long drivers, or even mid-ranges,
    and incorporate maximum distance drivers as their strength and disc control
    increases.Most players that are starting off will be most likely throwing
    lighter discs. Another type of driver, used less frequently, is a roller.
    As the name indicates, it has an edge designed to roll rather than fly.</dd>
  <dt>Stability</dt>
  <d>The stability rating of the discs differs depending on the manufacturer of
    the disc. Innova Discs rate stability as "turn" on a scale of +1 to −4,
    where +1 is the most overstable and −4 is the most understable. These
    ratings can be found on the discs themselves or from the manufacturer's
    web site. Discraft prints the stability rating on all discs and also
    provides this information on their web site. The stability ranges from
    3 to −2 for Discraft discs.</dd>
</dl>
