<h2>Most widely played sport know one knows about</h2>

<p>Of the more than 3000  established disc golf courses as of 2010,
  approximately 87% are free.
  The number of disc golf courses has more than doubled in 8 years from 2000
  to 2008. The game is played in about 40 countries around the world form novice to professional.</p>

<p>Disc golf is a flying disc game in which individual players throw a flying
  disc at a target. The object of the game is much like the game of golf.
  In both scoring and playing. Only differences are you play wiht a frisssbee insted of clubs
  and you shoot for a basket insted of a hole.</p>

<h3>Found Lot Disc?</h3>
<ul>
  <li>Locate the DiscId # on the back</li>
  <li>Enter it in the box below</li>
  <li>Then drop it in a mail box</li>
</ul>

<p>Thanks for paying it forward and returning a disc</p>

<div id="lostfound">
<form action = "" method = "post">
  <fieldset>

    <label for="st">Report A Found Disc:</label>
    <input type = "text" name = "diksid" required />
  </fieldset>
  <input type = "submit" name = "submit" id = "submit" value = "Found Disc" />
  </form>
</div>
