
<h2>Basic Rules</h2>

<ul>
 <li>Disc Golf is played like ball golf, except you use flying discs. Each throw is
    counted to determine a score. The winner is the player with the lowest score.</li>
  <li>Tee throws must be completed within the designated tee areas.</li>
  <li>After teeing off, the player whose disc is farthest from the hole (basket)
always throws first. Never throw until the players ahead of you are out of
range, and until the fairway is completely clear of spectators and park guests.</li>
  <li>The player with the least amount of throws on the previous hole is the first to
tee-off on the next hole. Golf is a game on honor and etiquette.</li>
<li>Throws after the tee shot must be made with one foot on the spot where the
  last throw came to rest. The other foot shall not be any closer to the hole.</li>
<li>A run-up and normal follow through, after release, is allowed more than 10
meters (33 feet) from the hole. Inside 10 meters, “Falling” or “jumping putts”
  are not allowed. A player shall show balance after the putt.</li>
<li>A disc that comes to rest inside the disc golf basket or chains constitutes
successful completion of that hole. A disc that comes to rest on top or
  outside of the basket does NOT count as a completion of the hole.</li>
<li>A throw that lands out of bounds must be played from the point where the disc
was last inbounds, with a stroke penalty. Water, roads, parking lots, and over
fences are normal disc golf out of bounds hazards.</li>
<li>Be courteous to other players. Stand quietly while they drive, approach, and
  putt and try to stay behind or at least off the line of sight while they throw.</li>
 <li>Do Not Litter. Please Keep the park clean for other users to enjoy.</li>
</ul>









