<h3>Scoring</h3>

<p>Medal play is the most common scoring method but there are many others, including match play, skins, speed golf and captain's choice, which in disc golf is referred to as "doubles" (not to be confused with partner or team play).

  In every form of play, the goal is to play as few throws per round as possible. Scores for each hole can be described as follows:</p>

<table>
  <tr>
    <th colspan="3">Scoreboard</th>
  </tr>
  <tr>
    <td>Term</td><td>Specific term</td><td>Definition</td>
  </tr>
  <tr>
    <td>-3</td><td>qAlbatross (or double-eagle)</td><td>three throws under par</td>
  </tr>
  <tr>
    <td>-2</td><td>Eagle (or double-birdie)</td><td>two throws under par</td>
  </tr>
  <tr>
    <td>-1</td><td>Birdie</td><td>one throw under par</td>
  </tr>
  <tr>
    <td>0</td><td>Par</td><td>throws equal to par</td>
  </tr>
  <tr>
    <td>+1</td><td>Bogey</td><td>one throw more than par</td>
  </tr>
  <tr>
    <td>+2</td><td>Double bogey</td><td>two throws over par</td>
  </tr>
  <tr>
    <td>+3</td><td>Triple bogey</td><td>three throws over par</td>
  </tr>
</table>

<p>Doubles play is a unique style of play that many local courses offer on a weekly basis. In this format, teams of two golfers are determined. Sometimes this is done by random draw, and other times it is a pro-am format. On the course, it is a 'best-disc' scramble. Meaning both players throw their tee shot, and then decide which lie they would like to play. Both players then play from the same lie, again choosing which lie is preferable. The World Amateur Doubles Format include best shot, alternate shot, best score(players play singles and take the best result from the hole) and worst shot (both players must sink the putt).</p>



