<h3>Throw styles</h3>

<p>While there are many different grips and styles to throwing the disc,
  there are two basic throwing techniques, backhand and forehand (or sidearm).
  These two techniques are extremely different, and are very much a player's
  preference to perform. It is highly recommended that players gain competence
  in both types of throws because each is highly effective in different
  circumstances. Their understanding and mastery can greatly improve a players'
  game, and offer diverse options in manoeuvering to the basket with greater
  efficacy. Many players use what is referred to as a run-up during their drive.
  This is practised to build more forward disc momentum and distance. Throwing
  styles vary from player to player, and there is no standard throwing style.</p>

  <dt>Backhand</dt>
  <dd>To perform this throw, the disc is rapidly drawn from across the front of your body, and releasing it towards a forward aimpoint: using either hand. Due to the potential snap available with this technique, one can expect greater distance and accuracy than with its counterpart. It is important to initiate momentum from the feet and allow it to travel up the body, hips and shoulders, culminating in the transfer of energy to the disc.</dd>
  <dt>Forehand</dt>
  <dd>The forehand (originally "sidearm") throw is performed by drawing the
    disc from behind and partially across the front of the body: similar to a
    sidearm throw in baseball. The term sidearm actually predates the descriptor
    forehand, which is seemingly in use today as a simpler means to communicate
    the technique: equating to a tennis forehand.

    For a right-handed forehand (RHFH) throw, the disc Hyzer is to the right;
    a left-handed forehand (LHFH) throw results in left Hyzer.</dd>
  <dt>Alternative throws</dt>
  <dd>The following examples of throws may be used to better deliver a disc
    where the former common two throws would be impeded by obstacles (bushes,
    trees, boulders, structures, etc.)

    Common alternative styles:
    <ul>
      <li>The Hatchet (or Tomahawk). Grip and throw as in the sidearm but performed with an overhead motion: disc orientation nearly perpendicular to the ground over much of the flight.</li>
      <li>The Thumber. Thrown in a sidearm manner but with thumb held on the discs' underside: its also the power finger.</li>
      <li>he Roller. Thrown in the hatchet technique, and the disc will predominatly be in contact with the ground. The disc remains in motion while travelling on its edge at a slight angle, and can travel exceedingly far in ideal situations. Once perfected, the roller is an invaluably versative tool in the golfers arsenal.</li>
    </ul>

    Other Alternative Styles:
    <ul>
      <li>The Baseball or Grenade. Thrown as in the backhand, but with the disc upside-down. This shot is used often to get up and down on a short shot where there is danger of a shot rolling away or going out of bounds if thrown too far. Primarily used on downhill shots but can be used to go up and over. Also due to the quick turn and backspin of this shot it is sometimes used to get out of the woods.</li>
      <li>The Over-Head backhand (or chicken-wing [ambiguous origin][dubious – discuss] ). This is a very difficult and stylized throw which accomplished free-stylers and classic ultimate players are familiar with: less so used in disc golf. It is thrown in the same manner the "baseball" but drawn on the sidearm side of the body, and by inverting the arm and disc. Using the thumb as the power finger, the disc is drawn from the thigh area; rear-wards and up from behind the body; to over the shoulder; releasing towards a forward aimpoint. The disc flies in a conventional flight pattern. To the untrained eye, this appears to be an ungainly throw. It is however, elegant and accurate. The term "over-head" has been in use since at least circa 1970.</li>
    </ul>

