/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  border: solid 1px #ffffff;
  background:  url('leather-steampunk_00327437.jpg') no-repeat fixed;
  width: 960px;
  height: 500px;
  margin: 40px auto;


}

header {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

nav {
  border-bottom: solid 3px #B9B47D;
  margin-top: 40px;
  color: #fff;
}

nav ul {
  font-size: 22px;
  list-style-type: none;
  margin-bottom: 20px;
}

nav ul li{
  border-right: solid 1px #B9B47D;
  display: inline;
  padding-right: 10px;
}

fieldset {
  width: 70%;
  height: 80px;
  margin: 0 auto;
}

legend {
  font-size: 18px;
  color: #fff;
}

label, input {
  margin: 20px 80px;
  color: #fff;
  font-size: 14px;
}

#submit {
  margin-left: 130px;
  color: #000;
}
