/* ##################################################
// # this is the css for all the devise pages like  #
// # the user login (session page)                  #
// ##################################################*/



 #login {
      border: solid 0px green;
      width: 50%;
      margin: 50px auto;

     }

