table {
  border: solid 3px #673512;
  background: rgba(185, 180, 125, 0.3);
  color: #C1C6CC;
  width: 100%;
  margin: 10px 0;
  font-size: 15px;
  font-weight: bold;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

tr th {
  backgrond: #143256;
  font-size: 18px;
  text-align: center;
  padding-top: 5px;
  color: #4F0916;
}

tr td {
  padding: 5px;
}

.even {
  background: #143256;
}

.odd {
  background: #607FA3;
}
