

form ul.add_disc{
  column-count: 2;
 /* column-rule: 0.8em solid black;*/
  width: 110%;
  height: 100%;

  margin: 0px 0px 0 -80px;
  padding: 0px

   li{

    column-span: all;
   }
}

input:required:invalid, input:focus:invalid {
  /* insert your own styles for invalid form input */
  /* -moz-box-shadow: none; */
  background: #FF0000;
}

input:required:valid {
  /* insert your own styles for invalid form input */
/* -moz-box-shadow: none; */
  background: #ffffff;
}

input:required:valid, .psw, .cpsw {
  background: #6CB56C;
}
